p.special {
    background-color: blue;
    color: white;
}

div.special {
    background-color: brown;
    color: yellow;
}

.special {
    font-size: 30px;
}

section p {
    color: #0602f8;;
}

a:link {
    color:pink
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}