#parent1 {
	position: static;
	border: 2px solid blue;
	width: 300px;
	height: 150px;
}

#child1 {
	position: absolute;
	border: 2px  solid red;
	top: 70px;
  	right: 15px;
}

h2 {
	border: 1px solid black;
}

#parent2 {
	position: relative;
	border: 1px solid blue;
	width: 300px;
	height: 150px;
}

#child2 {
	position: absolute;
	border: 1px solid red;
  	top: 70px;
  	left: 100px;
}

#parent3 {
	position: absolute;
  border: 1px solid blue;
  width: 300px;
  height: 150px;
  right: 0px;
}

#child3 {
	position: absolute;
	border: 1px solid red;
  	top: 70px;
  	left: 100px;
}

#parent4 {
  position: fixed;
  border: 1px solid blue;
  background-color: rgba(255,200,200,0.5);  
  width: 300px;
  height: 100px;
  bottom: 0;
  left: 0;
}

#child4 {
  position: absolute;
  border: 1px solid red;
  top: 70px;
  right: 15px;
}