h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  background-color: black;
}

.full-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  background: rgba(0, 0, 0);
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 4px;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: bold;
}

.thumb-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.thumb-bar > img {
  height: 100%;
  width: 20%;
  object-fit: contain;
  cursor: pointer;
}