html {
  font-family: sans-serif;
}

p {
  /* sizing and position */
  width: 200px;
  margin: auto;
  line-height: 3;
  /* text */
  font-size: 1.1rem;
  /* Since the default font-size is 16px, I guessed that the correct
  size would be 1.1rem. I set it, then checked it in the dev tools. */
  text-align: center;
  color: #ff0000;
  text-shadow: 1px 1px 0px black;
  /*border*/
  border-radius: 10px;
  border: 1px solid #990000;
  /* background */
  background-color: red;
  background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  /* other effects */
  box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),
              inset 10px 20px 3px rgba(238, 131, 131, 0.6),
              2px 2px 5px rgb(22, 1, 1);
}
